
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myServicesLabel">Create or edit a Services</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.services.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.services.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.services.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.services.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_locationZip">Location Zip</label>
            <input type="number" class="form-control" name="locationZip" id="field_locationZip"
                    ng-model="vm.services.locationZip"
                    required min="10000" max="99999" />
            <div ng-show="editForm.locationZip.$invalid">
                <p class="help-block"
                    ng-show="editForm.locationZip.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.locationZip.$error.min" translate-value-min="10000">
                    This field should be more than 10000.
                </p>
                <p class="help-block"
                    ng-show="editForm.locationZip.$error.max">
                    This field cannot be more than 99999.
                </p>
                <p class="help-block"
                    ng-show="editForm.locationZip.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="control-label" for="field_datePosted">Date Posted</label>
                <div class="input-group">
                    <input id="field_datePosted" type="text" class="form-control" name="datePosted" uib-datepicker-popup="{{dateformat}}" ng-model="vm.services.datePosted" is-open="vm.datePickerOpenStatus.datePosted"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datePosted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>-->
        <!--<div class="form-group">
            <label class="control-label" for="field_reportedCount">Reported Count</label>
            <input type="number" class="form-control" name="reportedCount" id="field_reportedCount"
                    ng-model="vm.services.reportedCount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_photoPath">Photo Path</label>
            <input type="text" class="form-control" name="photoPath" id="field_photoPath"
                    ng-model="vm.services.photoPath"
                     />
        </div>-->
        <div class="form-group">
            <label class="control-label" for="field_expirationDate">Expiration Date</label>
                <div class="input-group">
                    <input id="field_expirationDate" type="text" class="form-control" name="expirationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.services.expirationDate" is-open="vm.datePickerOpenStatus.expirationDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expirationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.expirationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.expirationDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="control-label" for="field_completed">Completed</label>
            <input type="checkbox" class="form-control" name="completed" id="field_completed"
                    ng-model="vm.services.completed"
                     />
        </div>-->

        <!--<div class="form-group">
            <label for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="vm.services.customer" ng-options="customer as customer.name for customer in vm.customers | orderBy:'id' track by customer.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.customer.$invalid">
            <p class="help-block"
                ng-show="editForm.customer.$error.required">
                This field is required.
            </p>
        </div>-->
        <div class="form-group">
            <label for="field_categories">Categories</label>
            <select class="form-control" id="field_categories" name="categories" ng-model="vm.services.categories" ng-options="categories as categories.category for categories in vm.categories | orderBy:'id' track by categories.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.categories.$invalid">
            <p class="help-block"
                ng-show="editForm.categories.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
