.rBody {
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-bottom: 4px solid #eee;
    background: #fff;
    width: 330px;
    height: 250px;
    float: left;
    display: inline-block;
    vertical-align: top;
    margin: 0 36px 36px 0;
    position: relative;
}

.userBoxes {
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-bottom: 4px solid #eee;
    border-radius: 15px;
    background: rgba(0,0,0,0.4);
    width: 250px;
    height: 250px;
    float: left;
    display: inline-block;
    vertical-align: top;
    margin: 0 36px 36px 0;
    position: relative;
}

.boxOption {
    margin-top: 37%;
}

.user {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.temporary {
  background-image: url('http://placehold.it/250x250');
}

.categoryBoxes {

}
